ul{
    margin: 10px 0 0;
    padding: 0;
}
ul li{
    list-style: none;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}
ul li:last-child{
    border-bottom: 1px solid #333;
}
ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
}
.sideBar,.content{
    margin-top: 70px;
}
#demo{
    margin-top: 70px;
}